
iframe#previewcard {
  position: fixed;
  z-index: 9999999999999;
  top: 0;
  right: 0;
  width: 940px;
  height: 100%;
  border-left: 2px solid black;
  background: #FFFFFF;
  box-shadow: -20px 0px 60px rgba(0, 0, 0, 0.25);
}

$previewCardCloseRadius: 50px;

.previewcard-close {
  position: fixed;
  z-index: 99999999999999;
  top: 0;
  right: 915px;
  width: $previewCardCloseRadius;
  height: $previewCardCloseRadius;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 100px;
  transition-property: all;
  transition-duration: 0.2s;

  span {
    display: block;
    text-align: center;
    line-height: 37px;
    font-size: 41px;
    color: #ffffff;
  }

  &:hover {
    text-decoration: none;
    background: #d00000;

    //span {
    //  color: #000000;
    //}

  }
}

.lock-scrolling {
  overflow: hidden;
}

.bg-3-normalized {
  background: transparent !important;
}

.wrapper-left {
  margin: 0 0 0 35px !important;
}

.offer-action-panel {
  position: relative;

  a {
    display: inline-block;
    padding: 8px 7px;
    color: #ffffff;
    width: 70px;
    text-align: center;
    overflow: hidden;

    &.offer-action-delete {
      background: #d00000,

    }

    &.offer-action-bookmark {
      background: #059809;
    }

  }
}